@import 'base/variables';

*{
	font-family: 'Museo Sans Cytl', sans-serif;
}

.container {
	max-width: 950px;
	margin: 0 auto;
}

@import 'blocks/_promo.scss';
@import 'blocks/header';
@import 'blocks/buttons';