@import 'base/variables';

*{
	font-family: 'Museo Sans Cytl', sans-serif;
}

.container {
	max-width: 950px;
	margin: 0 auto;
}

@import 'blocks/_promo.scss';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/feed';
@import 'blocks/footer';